/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Header
2.0 Navigation
	2.1 Links
	2.2 Menus
3.0 Main Content
	3.1 Main Content Single Page
	3.2 Main Content Single Blog Post
4.0 Widgets
5.0 Footer

--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.0 General Styles
--------------------------------------------------------------*/
h1 {
  font-size: 2.5em;
  line-height: 1.5;
  margin: 0;
}

h2 {
  font-size: 2em;
  line-height: 1.5;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
}

h4 {
  font-size: 1.188em;
  line-height: 1.5;
  margin: 0;
}

h5 {
  font-size: 1.188em;
  line-height: 1.5;
  margin: 0;
}

/*--------------------------------------------------------------
1.0 Header
--------------------------------------------------------------*/
.site-header {
  background: rgba(52, 73, 94, 0.8);
  position: relative;
  z-index: 2;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.3);
}
.site-header .site-title {
  font-size: 1.75em;
  margin: 0.1em 0;
}
.site-header .site-title a {
  text-decoration: none;
  color: #fff;
}
.site-header .site-title a:hover {
  color: #FA5858;
}
.site-header .site-description {
  font-weight: 600;
}
.site-header .top-ribbon-search {
  position: relative;
}
.site-header .top-ribbon-search input[type="text"] {
  margin-top: 10px !important;
  width: 100%;
  margin: 0;
  font-size: 14px;
  padding: 0;
  line-height: 1.5;
  border-radius: 5px;
  padding-left: 20px !important;
}
.site-header .top-ribbon-search i {
  position: absolute;
  top: 14px;
  left: 5px;
  color: #A4A4A4;
  font-size: 14px;
}

/*--------------------------------------------------------------
2.0 Navigation
--------------------------------------------------------------*/
.main-navigation ul {
  text-align: right;
}
.main-navigation ul li a {
  padding: 10px 8px 10px 10px;
  color: #fff;
}
.main-navigation ul li a:last-child {
  padding-right: 0px;
}
.main-navigation ul li a:hover {
  color: #FA5858;
}
.main-navigation ul ul {
  text-align: left;
  background: #34495e;
}
.main-navigation ul ul li {
  display: block;
}
.main-navigation ul ul li a {
  color: #fff;
}

.post-navigation {
  padding: 1.5em 0em;
  margin-top: 1.25em;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}

.nav-previous:before {
  font-family: "FontAwesome";
  content: "\f053";
  padding-right: 10px;
  color: #2980b9;
}

.nav-next:after {
  font-family: "FontAwesome";
  content: "\f054";
  padding-left: 10px;
  color: #2980b9;
}

/*--------------------------------------------------------------
3.0 Main Content
--------------------------------------------------------------*/
.entry-header {
  text-align: center;
}
.entry-header .entry-title {
  font-size: 2em;
  padding-bottom: 0.2em;
}
.entry-header .entry-title a {
  text-decoration: none;
  color: #424242;
}
.entry-header .entry-title a:hover {
  color: #585858;
}
.entry-header .entry-meta {
  font-size: 0.938em;
  line-height: 1.5;
  color: #7f8c8d;
  padding-bottom: 1.5em;
}
.entry-header .entry-meta a {
  color: #2980b9;
}

article {
  padding: 1.25em 0em 3em 0em;
}
article .entry-content {
  margin-top: 0;
  font-size: 1.188em;
  line-height: 1.875em;
  text-align: justify;
}
article .entry-content p:first-child {
  margin-top: 0px;
}
article .entry-content .alignnone {
  margin-left: 0;
}
article .entry-content .alignleft {
  margin-left: 0;
}
article .entry-content .wp-caption-text {
  color: #585858;
  font-size: 0.75em;
  font-style: italic;
  margin: 0;
  border-left: 1px solid #A4A4A4;
  border-right: 1px solid #A4A4A4;
  border-bottom: 1px solid #A4A4A4;
}
article .entry-content blockquote p {
  margin-bottom: 0;
}
article .wp-post-image {
  margin-bottom: 1.5em;
}
article .blog-page-entry-footer {
  text-align: left !important;
}

.hero {
  min-height: 500px;
  margin-top: -80px;
  margin-bottom: 20px;
}
.hero .entry-title {
  font-size: 3em !important;
}
.hero .hero-mask {
  padding-top: 210px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  text-align: center;
  color: #fff;
}
.hero .hero-mask .entry-meta {
  font-weight: 600;
}
.hero .hero-mask a {
  color: #CEECF5;
}
.hero .hero-mask .header-cat-links {
  padding: 0px 0px 0px 15px;
}
.hero .hero-mask .posted-on {
  padding: 0px 5px;
}
.hero .hero-mask .byline {
  padding: 0px 15px 0px 0px;
}
.hero .hero-mask .header-tags {
  margin: 180px 0 20px 0;
}
.hero .hero-mask .header-tags span {
  margin: 0 10px;
  padding: 5px 8px;
  background: rgba(66, 66, 66, 0.6);
  border-radius: 5px;
  font-size: 14px;
}
.hero .hero-mask .header-tags span a {
  color: #A4A4A4;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  font-weight: 600;
}
.hero .hero-mask .header-tags span a:hover {
  text-decoration: none;
  color: #fff;
}

.entry-footer {
  padding-top: 1.5em;
  font-size: 0.938em;
  line-height: 1.5;
  color: #7f8c8d;
  padding-bottom: 1.5em;
  text-align: center;
}
.entry-footer a {
  color: #2980b9;
}
.entry-footer span {
  padding-right: 5px;
}
.entry-footer .read-more {
  position: relative;
  top: 8px;
  margin-top: 10px;
  padding: 10px 8px;
  border: 1px solid #A4A4A4;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.entry-footer .read-more:hover {
  text-decoration: none;
  border: 1px solid #1B6698;
  background: #2980b9;
  color: #fff;
}
.entry-footer .post-edit-link {
  padding: 3px 6px;
  background: #A4A4A4;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
.entry-footer .post-edit-link:before {
  font-family: "FontAwesome";
  content: '\f013';
  padding-right: 4px;
  font-weight: 400;
}
.entry-footer .post-edit-link:hover {
  text-decoration: none;
  color: #34495e;
  background: #D8D8D8;
}

.error-404 .page-title {
  text-align: center;
  padding: 1.5em 0em;
}
.error-404 .search-form-intro {
  text-align: center;
  padding-bottom: 1.5em;
}
.error-404 .search-form {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 5em;
  text-align: center;
  margin-bottom: 2.25em;
}
.error-404 .search-form .search-submit {
  font-size: 0.9em;
}
.error-404 .widgettitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}
.error-404 ul {
  margin-left: 0;
  padding-left: 20px;
}

.search-page .page-title {
  padding: 1em 0em;
}
.search-page .search-term {
  color: #2980b9;
}

.comments-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  font-style: italic;
}

.comment-list {
  margin-left: 0;
  padding-left: 0px;
  list-style: none !important;
}
.comment-list .comment {
  margin-top: 0.625em;
}
.comment-list .comment-author-admin .comment-body {
  border: 1px solid #2980b9;
}
.comment-list .children {
  margin-top: 0.625em;
  padding-left: 0.5em;
  list-style: none !important;
}
.comment-list .comment-body {
  background: #FAFAFA;
  position: relative;
  padding: 1.1em 0.625em 0.625em 0.625em;
  border: 1px solid #EDEDED;
}
.comment-list .comment-body .comment-author {
  padding-left: 30px;
  width: 20%;
  float: left;
  font-size: 0.875em;
}
.comment-list .comment-body .comment-author img {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  top: 5px;
  left: -25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.comment-list .comment-body .comment-metadata {
  float: right;
  font-size: 0.875em;
  padding-top: 4px;
}
.comment-list .comment-body .comment-metadata .comment-edit-link:before {
  font-family: "FontAwesome";
  content: "\f013";
  padding: 0px 5px;
}
.comment-list .comment-body .comment-metadata .comment-edit-link:hover {
  color: #e74c3c;
  text-decoration: none;
}
.comment-list .comment-body .comment-content {
  clear: both;
}
.comment-list .comment-body .reply {
  text-align: right;
  padding-right: 5px;
}
.comment-list .comment-body .reply:before {
  font-family: "FontAwesome";
  content: "\f112";
  padding: 0px 5px;
  color: #2980b9;
}
.comment-list .comment-body .reply:hover {
  text-decoration: none;
}
.comment-list .pingback {
  margin-bottom: 0.725em;
}
.comment-list .pingback .comment-body {
  padding: 0.2em;
}

/*--------------------------------------------------------------
4.0 Portfolio
--------------------------------------------------------------*/
.single-portfolio-top .single-portfolio-title {
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
}

.single-portfolio-hero-img {
  margin-bottom: 1.25em !important;
}
.single-portfolio-hero-img img {
  padding: 5px;
  border: 1px solid #d8d8d8;
}

.single-portfolio-grid-img ul {
  padding: 0px 5px;
}
.single-portfolio-grid-img img {
  padding: 5px;
  border: 1px solid #d8d8d8;
}

.single-portfolio-links {
  clear: both;
  margin-top: 1.25em !important;
}
.single-portfolio-links .dropbox-link,
.single-portfolio-links .bitbucket-link,
.single-portfolio-links .demo-link {
  text-align: center;
}
.single-portfolio-links .dropbox-link a,
.single-portfolio-links .bitbucket-link a,
.single-portfolio-links .demo-link a {
  padding: 0.65em;
  border: 1px solid #2980b9;
  -webkit-transition: all .3s;
          transition: all .3s;
}
.single-portfolio-links .dropbox-link a:hover,
.single-portfolio-links .bitbucket-link a:hover,
.single-portfolio-links .demo-link a:hover {
  text-decoration: none;
  border: 1px solid #8e44ad;
  color: #8e44ad;
}

.single-portfolio-content {
  padding-top: 2.25em !important;
}

.hover-effect-caption,
.hover-effect-caption-2 {
  text-align: center;
  font-size: 1em;
  background: rgba(41, 128, 185, 0.2);
  padding: 1em 0em;
  position: relative;
  top: -180px;
  width: 85%;
  margin: 0 auto;
  -webkit-transition: all .3s;
          transition: all .3s;
}
.hover-effect-caption a,
.hover-effect-caption-2 a {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .3s;
          transition: all .3s;
}
.hover-effect-caption a i,
.hover-effect-caption-2 a i {
  font-size: 2.75em;
  padding: 0.5em;
  margin-bottom: 0.2em;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-transition: all .3s;
          transition: all .3s;
}
.hover-effect-caption a:hover,
.hover-effect-caption-2 a:hover {
  text-decoration: none;
}
.hover-effect-caption:hover,
.hover-effect-caption-2:hover {
  background: rgba(41, 128, 185, 0.8);
}
.hover-effect-caption:hover a,
.hover-effect-caption-2:hover a {
  color: #1abc9c;
}
.hover-effect-caption:hover a i,
.hover-effect-caption-2:hover a i {
  border: 1px solid #1abc9c;
}

.hover-effect-caption-2 {
  top: -138px;
}
.hover-effect-caption-2 a i {
  font-size: 2em;
}

/*--------------------------------------------------------------
4.0 Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.0 Footer
--------------------------------------------------------------*/
.site-footer {
  padding: 10px 0px;
  border-top: 1px solid #EDEDED;
}
.site-footer .site-info {
  text-align: center;
  font-size: 0.8em;
}

/*# sourceMappingURL=custom.css.map */