/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Header
2.0 Navigation
	2.1 Links
	2.2 Menus
3.0 Main Content
	3.1 Main Content Single Page
	3.2 Main Content Single Blog Post
4.0 Widgets
5.0 Footer

--------------------------------------------------------------*/

$link-color: #2980b9;

/*--------------------------------------------------------------
0.0 General Styles
--------------------------------------------------------------*/

h1 {font-size: 2.5em; line-height: 1.5; margin: 0;}
h2 {font-size: 2em; line-height: 1.5; margin: 0;}
h3 {font-size: 1.5em; line-height: 1.5; margin: 0;}
h4 {font-size: 1.188em; line-height: 1.5; margin: 0;}
h5 {font-size: 1.188em; line-height: 1.5; margin: 0;}

/*--------------------------------------------------------------
1.0 Header
--------------------------------------------------------------*/

.site-header {
	background: rgba(52, 73, 94, 0.8);
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.3);
	.site-title {
		font-size: 1.75em;
		margin: 0.1em 0;
		a {
			text-decoration: none;
			color: #fff;
			&:hover {
				color: #FA5858;
			}
		}
	}
	.site-description {
		font-weight: 600;
	}
	.top-ribbon-search {
		position: relative;
		input[type="text"] {
			margin-top: 10px !important;
			width: 100%;
			margin: 0;
			font-size: 14px;
			padding: 0;
			line-height: 1.5;
			border-radius: 5px;
			padding-left: 20px !important;
		}
		i {
			position: absolute;
			top: 14px;
			left: 5px;
			color: #A4A4A4;
			font-size: 14px;
		}
	}
}

/*--------------------------------------------------------------
2.0 Navigation
--------------------------------------------------------------*/

.main-navigation {
	ul {
		text-align: right;
		li {
			a {
				padding: 10px 8px 10px 10px;
				color: #fff;
				&:last-child {
					padding-right: 0px;
				}
				&:hover {
					color: #FA5858;
				}
			}
		} 
		ul {
			text-align: left;
			background: #34495e;
			li {
				display: block;
				a {
					color: #fff;
				}
			}
		}
	}
}
.post-navigation {
	padding: 1.5em 0em;
	margin-top: 1.25em;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
} 
.nav-previous {
	&:before {
		font-family: "FontAwesome";
		content: "\f053";
		padding-right: 10px;
		color: $link-color;
	}
}
.nav-next {
	&:after {
		font-family: "FontAwesome";
		content: "\f054";
		padding-left: 10px;
		color: $link-color;
	}
}

/*--------------------------------------------------------------
3.0 Main Content
--------------------------------------------------------------*/

.entry-header {
	text-align: center;
	.entry-title {
		font-size: 2em;
		padding-bottom: 0.2em;
		a {
			text-decoration: none;
			color: #424242;
			&:hover {
				color: #585858;
			}
		}
	}
	.entry-meta {
		font-size: 0.938em; 
		line-height: 1.5; 
		color: #7f8c8d;
		padding-bottom: 1.5em; 
		a {
			color: $link-color;
		}
	}

}
article {
	padding: 1.25em 0em 3em 0em;
	.entry-content {
		margin-top: 0;
		font-size: 1.188em;
		line-height: 1.875em;
		text-align: justify;
		p:first-child {
			margin-top: 0px;
		}
		.alignnone {
				margin-left: 0;
		}
		.alignleft {
				margin-left: 0;
		}
		.wp-caption-text {
			color: #585858;
			font-size: 0.75em;
			font-style: italic;
			margin: 0;
			border-left: 1px solid #A4A4A4;
			border-right: 1px solid #A4A4A4;
			border-bottom: 1px solid #A4A4A4;
		}
		blockquote {
			p {
				margin-bottom: 0;
			}
		}
	}
	.wp-post-image {
		margin-bottom: 1.5em;
	}
	.blog-page-entry-footer {
		text-align: left !important;
	}	
}

.hero {
	min-height: 500px;
	margin-top: -80px;
	margin-bottom: 20px;
	.entry-title {
		font-size: 3em !important;
	}
	.hero-mask {
		padding-top: 210px;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		background-size: cover;
		text-align: center;
		color: #fff;
		.entry-meta {
			font-weight: 600;
		}
		a {
			color: #CEECF5;
		}
		.header-cat-links {
			padding: 0px 0px 0px 15px;
		}
		.posted-on {
			padding: 0px 5px;
		}
		.byline {
			padding: 0px 15px 0px 0px;
		}
		.header-tags {
			margin: 180px 0 20px 0;
			span {
				margin: 0 10px;
				padding: 5px 8px;
				background: rgba(66, 66, 66, 0.6);
				border-radius: 5px;
				font-size: 14px;
				a {
					color: #A4A4A4;
					transition: all 0.3s;
					font-weight: 600;
					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}
			}
			
		}
	}
}

.entry-footer {
	padding-top: 1.5em;
	font-size: 0.938em; 
	line-height: 1.5; 
	color: #7f8c8d;
	padding-bottom: 1.5em; 
	text-align: center;
	a {
		color: $link-color;
	}
	span {
		padding-right: 5px;
	}
	.read-more {
		position: relative;
		top: 8px;
		margin-top: 10px;
		padding: 10px 8px; 
		border: 1px solid #A4A4A4;
		transition: all 0.3s;
		&:hover {
			text-decoration: none;
			border: 1px solid #1B6698;
			background: $link-color;
			color: #fff;
		}
	}
	.post-edit-link {
		padding: 3px 6px;
		background: #A4A4A4;
		border-radius: 5px;
		color: #fff;
		font-weight: 600;
		&:before {
			font-family: "FontAwesome";
			content: '\f013';
			padding-right: 4px;
			font-weight: 400;
		}
		&:hover {
			text-decoration: none;
			color: #34495e;
			background: #D8D8D8;
		}
	}
}

.error-404 {
	.page-title {
		text-align: center;
		padding: 1.5em 0em;
	}
	.search-form-intro {
		text-align: center;
		padding-bottom: 1.5em;
	}
	.search-form {
		border-bottom: 1px solid #d8d8d8;
		padding-bottom: 5em;
		text-align: center;
		margin-bottom: 2.25em;
		.search-submit {
			font-size: 0.9em;
		}
	}
	.widgettitle {
		font-family: "Open Sans", sans-serif;
		font-size:1.5em;
		font-weight: 600;
	}
	ul {
		margin-left: 0;
		padding-left: 20px;
	}
}

.search-page {
	.page-title {
		padding: 1em 0em;
	}
	.search-term {
		color: $link-color;
	}
}
.comments-title {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 1.25em;
	font-style: italic;
}
.comments-area {

}

.comment-list {
	margin-left: 0;
	padding-left: 0px;
	list-style: none !important;
	.comment {
		margin-top: 0.625em;
	}
	.comment-author-admin {
		.comment-body {
			border: 1px solid $link-color;
		}
	}
	.children {
		margin-top: 0.625em;
		padding-left: 0.5em;
		list-style: none !important;
	}
	.comment-body {
		background: #FAFAFA;
		position: relative;
		padding: 1.1em 0.625em 0.625em 0.625em;
		border: 1px solid #EDEDED;
		.comment-author {
			padding-left: 30px;
			width: 20%;
			float: left;
			font-size: 0.875em;
			img {
				border-radius: 50%;
				width: 3.5em;
				height: 3.5em;
				position: absolute;
				top: 5px;
				left: -25px;
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			}
		}
		.comment-metadata {
			float: right;
			font-size: 0.875em;
			padding-top: 4px;
			.comment-edit-link {
				&:before {
					font-family: "FontAwesome";
					content: "\f013";
					padding: 0px 5px;
				}
				&:hover {
					color: #e74c3c;
					text-decoration: none;
				}
			}
		}
		.comment-content {
			clear: both;
		}
		.reply {
			text-align: right;
			padding-right: 5px;
			&:before {
				font-family: "FontAwesome";
				content: "\f112";
				padding: 0px 5px;
				color: $link-color;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	.pingback {
		margin-bottom: 0.725em;
		.comment-body {
			padding: 0.2em;
		}
	}
	
}



/*--------------------------------------------------------------
4.0 Portfolio
--------------------------------------------------------------*/

.single-portfolio-top {
	.single-portfolio-title {
		text-align: center;
		font-size: 1.25em;
		font-weight: 600;
	}
}

.single-portfolio-hero-img {
	img {
		padding: 5px;
		border: 1px solid #d8d8d8;
	}
	margin-bottom: 1.25em !important;
}

.single-portfolio-grid-img {
	ul {
		padding: 0px 5px;
	}
	img {
		padding: 5px;
		border: 1px solid #d8d8d8;
	}	
}

.single-portfolio-links {
	clear: both;
	margin-top: 1.25em !important;
	.dropbox-link, 
	.bitbucket-link,
	.demo-link
	 {
		text-align: center;
		a {
			padding: 0.65em;
			border: 1px solid $link-color;
			transition: all .3s;
			&:hover {
				text-decoration: none;
				border: 1px solid #8e44ad;
				color: #8e44ad;
			}
		}
	}

}
.single-portfolio-content {
	padding-top: 2.25em !important;
}

.hover-effect-caption,
.hover-effect-caption-2 {
	text-align: center;
	font-size: 1em;
	background: rgba(41, 128, 185,0.2);
	padding: 1em 0em;
	position: relative;
	top: -180px;
	width: 85%;
	margin: 0 auto;
	transition: all .3s;
	a {
		color: rgba(255,255,255,0.5);
		transition: all .3s;
		i {
			font-size: 2.75em;
			padding: 0.5em;
			margin-bottom: 0.2em;
			border-radius: 50%;
			border: 1px solid transparent; 
			transition: all .3s;
		}
		&:hover {
			text-decoration: none;
		}
	}
	&:hover {
		background: rgba(41, 128, 185,0.8);
		a {
			i {
				border: 1px solid rgba(26, 188, 156,1.0);
			}
			color: rgba(26, 188, 156,1.0);
		}
	}
}

.hover-effect-caption-2 {
	top: -138px;
	a {
		i {
			font-size: 2em;
		}
	}
}

/*--------------------------------------------------------------
4.0 Widgets
--------------------------------------------------------------*/



/*--------------------------------------------------------------
5.0 Footer
--------------------------------------------------------------*/

.site-footer {
	padding: 10px 0px;
	border-top: 1px solid #EDEDED;
	.site-info {
		text-align: center;
		font-size: 0.8em;
	}
}
